.wrapper{
    padding: var(--p-standard);
    padding-top:0px;
}

.wrapper h3{
    font-family: saturday;
    font-weight: 400;
    margin-bottom: 10px;
    font-size: var(--fs-hero-text);
    color: var(--brown);
    text-align: center;
}

.wrapper p{
    margin: auto;
    font-size: var(--fs-standard);
    margin-bottom: var(--p-standard);
    max-width: 75ch;
}

.wrapper p:last-of-type{
    margin-bottom: 0;
}

.imgWrapper{
    position: relative;
    margin-top: 15px;
    padding:30px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgWrapper::before{
    position: absolute;
    content: "";
    top:0;
    right: 0;
    width: 75%;
    height: 90%;
    background-color: var(--cream);
}