.wrapper{
    padding:25px 0px;
    overflow-x: visible;
    margin:auto;
    max-width: 1250px;
}

.title h1{
    font-family: saturday;
    color: var(--brown);
    font-size: 6rem;
    font-weight: 400;
    text-align: center;
}

.blogStreamWrapper{
    overflow-x: hidden; /*HIDES OVERFLOW POSTREEL*/
}

@media screen and (max-width:550px) {
    .wrapper{
        overflow-x: hidden;
    }
}