.wrapper{
    overflow-x: hidden;
    max-width: 1000px;
    margin:auto;
}

.blogTitle{
    font-family: saturday;
    font-size: 8rem;
    font-weight: 400;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
}