.wrapper{
    padding:25px 0px;
    overflow-x: hidden;
    margin:auto;
    max-width: 1250px;
}

.title h1{
    font-family: saturday;
    color: var(--brown);
    font-size: 6rem;
    font-weight: 400;
    text-align: center;
}