.wrapper{
    width: 250px;
    flex-shrink: 0;
}

.textBox{
    margin-top: 10px;
    text-align: center;
}

.title{
    font-weight: 500;
    font-size: .9rem;
    margin-bottom: 10px;
}

.description{
    font-size: .8rem;
    margin-bottom: 10px;
}

.readMore{
    color: var(--brown);
    font-size: .9rem;
}

.readMore:hover{
    cursor: pointer;
}