.wrapper{
    padding: 10px;
    padding-bottom: 0;
    margin: 10px;
    transition: transform ease-in-out .2s;
}

.wrapper:hover{
    cursor: pointer;
}

.wrapper:hover .label{
    transform: translate(0,-40%) scale(1.2);
}

.wrapper:hover .imageWrap::before{
    width: 102%;
    height: 102%;
    transform: translate(-1%,0) scale(1.1);
}

.wrapper:active{
    transform: translateY(10px);
}
.wrapper:active .label{
    background-color: var(--slate);
}

.imageWrap{
    position: relative;
}

.imageWrap::before{
    position: absolute;
    top:0;
    left:0;
    content: "";
    background-color: var(--green);
    opacity: .3;
    height: 108%;
    width: 106%;
    z-index: -1;
    transform: translate(3%,-4%);
    transition: all ease-in-out .2s;
}

.label{
    text-align: center;
    color: white;
    font-size: 1.2rem;
    padding: 12px;
    background-color: var(--green);
    transform: translate(-6%,-50%);
    transition: all ease-in-out .2s;
}