.wrapper{
    display:flex;
    gap:15px;
    align-items: flex-start;
    justify-content: space-between;
    background-color: var(--cream);
    padding:50px;
    margin-bottom: 50px;
}

.textBox h3{
    font-weight: 400;
    font-size: 5rem;
    font-family: saturday;
    color: var(--brown);
    margin-bottom: 15px;
}

.textBox p{
    max-width: 45ch;
}

.form input, .form textarea{
    padding:5px 5px;
    border: none;
    width: 325px;
    font-family: Montserrat;
    font-size: 1.1rem;
}

.form textarea{
    resize: none;
    height:100px;
}

.form{
    display:flex;
    gap:10px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.form button{
    background-color: var(--slate);
    font-size: 1rem;
    padding:10px 25px;
}

@media screen and (max-width:650px){
    .wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:30px;
    }

    .form input, .form textarea{
        width: 75vw;
    }
}