.wrap {
    display: flex;
    justify-content: center;
    background-color: var(--peach);
    position: relative;
    min-height: 125px;
    font-size: car(--fs-standard-small);
}

.socialMediaWrap{
    display: flex;
    gap:15px;
}

.socialMediaWrap svg{
    height: 32px;
    width: 32px;
    fill: white;
    transition: fill .35s ease-in-out;
}

.socialMediaWrap svg:hover{
    fill:var(--slate);
}

.contentWrap{
    margin-top: 20px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
    text-align: center;
    color: white;
}