.wrapper{
    margin-bottom: 30px;
}

.headerWrapper{
    margin-bottom: 15px;
}

.wrapper h3{
    color: var(--brown);
    font-weight: 400;
    font-size: 5rem;
    text-align: center;
    font-family: saturday;
}

.contentWrapper{
    position: relative;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:  0px 30px;
}

.contentWrapper ul{
    display: flex;
    flex-direction: column;
    gap:30px;
    list-style-type: disc;
    list-style-position: inside;
}

.contentWrapper li{
    max-width: 50ch;
}

.contentWrapper::before{
    position: absolute;
    content: "";
    bottom: 5%;
    top:5%;
    left: 0;
    width: 90%;
    background-color: var(--slate);
    z-index: -999;
}

@media screen and (max-width:775px){
    .contentWrapper{
        flex-direction: column-reverse;
        gap:20px;
        padding: 15px 30px;
    }
    .contentWrapper::before{
        bottom: 0%;
        top:0%;
        width: 100%;
    }
}