@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

@font-face {
  font-family: saturday;
  src: url("../public/Saturday.otf") format("opentype");
}

html,body {
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body{
  background-color: white;
  
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover{
  cursor: pointer;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


:root{
  --cream: #F4F1EA;
  --peach: #ECD4D2;
  --light-brown: #c8b3a2;
  --brown: #A98D6C;
  --dark-grey: #5C5C5C;
  --green: #8A8A7B;
  --slate: #97A5A7;
  --slim: 550px;
}

.cursive{
  font-family: saturday;
}

button{
  background-color: var(--light-brown);
  color: white;
  border: none;
  border-radius: 0px;
  padding:5px 40px;
  transition: all ease-in-out .2s;
}

button:hover{
  cursor: pointer;
  transform: scale(1.1);
}

button:active{
  transform: scale(1);
}

input:focus{
  outline: none;
  box-shadow: inset 0 0 0px 1px var(--slate);
}

.pointer{
  cursor: pointer;
}