.wrapper {
    position: relative;
    display: flex;
    gap:50px;
    justify-content: center;
    align-items: center;
    padding:10px 0px;
}

.imgWrapper{
    height: 400px;
    width: 300px;
}

.textBox{
    color:white
}

.textBox h3{
    font-family: saturday;
    font-weight: 400;
    font-size: 5rem;
    margin-bottom: 5px;
}

.textBox p{
    font-size: .8rem;
    width: 45ch;
}

.wrapper::after {
    position: absolute;
    content: "";
    background-color: var(--slate);
    top:0;
    right:0;
    height: 90%;
    width: 80%;
    z-index: -1;
}