.wrapper{
    position: sticky;
    top:0;
    background-color: white;
    z-index: 99999;
    overflow-x: hidden;
    overflow-y: auto;
}

.wrapper ul{
    list-style-type: none;
}

.headText{
    line-height: 1;
    font-size: 1.2rem;
}
.nav {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
    padding:15px 30px;
}

.accentLine {
    height: 2px;
    opacity: .6;
    background-color: var(--peach);
}

.no, .ordinary, .noOrdinary {
    font-weight: 400;
}

.self {
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--light-brown);
    width: 100%;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.navLinks{
    display: flex;
    gap: 20px;
    font-size: 1.1rem;
}

.navLinks li{
    position: relative;
}
.navLinks li::after{
    position: absolute;
    content: "";
    width: 100%;
    transform: scaleX(0);
    bottom: 0;
    left:0;
    height:2px;
    background-color: var(--brown);
    transition: all ease-in-out .3s;
    transform-origin: left;
}
.navLinks li:hover::after{
    transform: scaleX(1);
}

/*PREVENTS DESKTOP HEADER FLASH ON MOBILE, DELETE OR CHANGE IF useShowMobile WIDTH CHANGES IN Header.js*/
@media screen and (max-width:550px){
    .deskWrapper{
        display: none;
    }
}