.headText{
    line-height: 1;
    font-size: 1.2rem;
}
.nav {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding:15px 30px;
}

.accentLine {
    height: 30px;
    background-color: var(--peach);
}
.no, .ordinary {
    font-weight: 400;
}

.self {
    font-weight: 500;
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.navLinks{
    display: flex;
    gap: 20px;
    font-size: 1.1rem;
}

.navLinks li{
    position: relative;
}
.navLinks li::after{
    position: absolute;
    content: "";
    width: 100%;
    transform: scaleX(0);
    bottom: 0;
    left:0;
    height:2px;
    background-color: var(--brown);
    transition: all ease-in-out .3s;
    transform-origin: left;
}
.navLinks li:hover::after{
    transform: scaleX(1);
}