.menuIcon{
    position: relative;
    width: 25px;
    height: 20px;
}

.lineTop, .lineMiddle, .lineBottom{
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--brown);
}

.lineTop{
    top:0;
}

.lineMiddle{
    transform: translate(0, -50%);
    top:50%;
}

.lineBottom{
    bottom:0;
}

.menuIcon:hover{
    cursor: pointer;
}


.noOrdinary, .self{
    font-size: var(--fs-standard);
}
.self{
    color: var(--light-brown);
}
