.wrapper{
    position: relative;
}

.imgOne, .imgTwo{
    position: absolute;
}

.imgOne{
    bottom:0;
    left:0;
    padding-top: 15px;
    padding-right: 15px;
}

.imgTwo{
    right: 0;
    top: 0;
    padding-left: 15px;
}
