.wrapper{
    position: relative;
    height: 400px;
    width: 315px;
}

.imgOne, .imgTwo{
    height:375px;
    width: 300px;
    position: absolute;
}

.imgOne{
    bottom:0;
    left:0;
    padding-right: 15px;
}

.imgTwo{
    right: 0;
    top: 0;
    padding-left: 15px;
}
