.wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding:0px 55px;
    padding-bottom: 5px;
    margin-bottom: 50px;
}

.wrapper::after {
    position: absolute;
    content : "";
    bottom:0;
    left:0;
    height: 90%;
    width: 90%;
    background-color: var(--slate);
    z-index: -1;
}
.textBox{
    margin-top: 8%;
    color: white;
}

.textBox h3{
    font-family: saturday;
    font-size: 5rem;
    font-weight: 400;
    text-align: center;
}

.textBox p{
    max-width: 40ch;
    font-weight: 300;
    margin-bottom: 15px;
}

.textBox p:last-of-type{
    margin-bottom: 0;
}

.textBox button{
    display: block;
    padding: 10px 30px;
    font-size: .8rem;
    margin:auto;
    margin-top: 7%;
}

.imgWrapper{
    margin-bottom: 5px;
}

@media screen and (max-width:685px){
    .wrapper{
        padding: 0px 10px;
    }
}
@media screen and (max-width: 550px){
    .textBox h3{
        margin: 0;
        text-align: center;
    }
    .wrapper{
        flex-direction: column;
    }
    .textBox button{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .imgWrapper{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .wrapper:after{
        height: 100%;
        width: 100%;
    }
    .textBox button{
        margin-top: 10px;
        font-size: 1rem;    
    }
}