.wrap{
    width: 100%;
    padding:var(--p-lr);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cream);
}

.wrap h1{
    font-weight: 400;
    font-size: var(--fs-standard-large);
    text-align: center;
    max-width: 40ch;
}