.wrapper{
    margin-top: 25px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.wrapper::before{
    position: absolute;
    content:"";
    height: 94%;
    width:83%;
    bottom:0;
    right:0;
    background-color: var(--slate);
    z-index: -5;
}

.contentBox{
    display: flex;
    padding-bottom: 20px;
    color: white;
}

.contentBox h1{
    font-family: saturday;
    font-weight: 500;
    font-size: 7rem;
    line-height: 0.8;
    padding-left: 20px;
}

.altBox {
    display: flex;
    align-self: center;
    flex-direction: column;
}

.subBox{
    font-size: var(--fs-standard);
    background-color: var(--light-brown);
    min-width: 95%;
    padding: 20px 35px;
    padding: var(--p-tb) var(--p-lr);
    margin-top: 5px;
}
.altBox h3{
    font-size: var(--fs-standard-large);
    font-weight: 500;
}


@media screen and (max-width: 550px) {
    .wrapper{
        background: var(--slate);
        margin-top: 0px;
        margin-bottom: 0px;
    }

    
    .contentBox{
        padding-top: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .altBox{
        padding-top: 20px;
    }

    .subBox{
        width: 100vw;
    }
}