.header h3{
    font-family: saturday;
    font-weight: 400;
    font-size: 5rem;
    line-height: .8;
    color: grey;
    text-align: center;
}
.contentWrapper{
    position:relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px;
    color:white;
    margin-bottom: 15px;
}

.textBox{
    position: relative;
    padding:25px 0px;
}
.textBox p{
    max-width: 35ch;
    font-size: .9rem;
    margin-bottom: 25px;
}
.textBox p:last-of-type{
    margin-bottom: 0px;
}

.imgWrapper{
    position: relative;
}

.textBox::before, .imgWrapper::before{
    position: absolute;
    content:"";
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.textBox::before{
    background-color: var(--slate);
    z-index: -2;
    height: 110%;
    width: 170%;
}

.imgWrapper::before{
    background-color: var(--brown);
    z-index: -1;
    height:125%;
    width: 140%;
}

@media screen and (max-width: 550px){
    .contentWrapper{
        flex-direction: column;
        gap:55px;
    }

    .textBox::before, .imgWrapper::before{
        position: absolute;
        content:"";
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        width: 100vw;
        z-index: -99;
    }

    .textBox::before{
        height:110%;
    }
    .imgWrapper::before{
        height:115%;
    }
}